# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite build output
todo-client/dist/

# .NET
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
